/* Column.css */
.column {
  /* border: 1px solid #ccc; */
  /* background-color: #f0f0f0; */
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  min-width: 260px;
  max-height: 100%;
  overflow-y: auto;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
}

li.selected {
  background-color: #ccc;
}

.add-button {
  width: 50px;
}