/* App.css */
@import "tachyons";

.app {
  height: 100vh;
  display: flex;
  /* overflow-y: auto; */
}

.sidenav {
  height: 100vh;
  width: 48px;
  background-color: rgba(60, 100, 177, 0.06);
}
.sidenav.open {
  width: 240px;
}